.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  width: 100%;
  height: auto;
  min-height: 100vh;
  position: relative;
}
.close-box {
  color: black;
  font-size: 2.2rem;
  position: absolute;
  right: 6%;
  top: 10%;
  cursor: pointer;
}
.open-box-slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 1s ease-in-out;
  min-height: 60vh;
  padding: 4rem 0rem;
  background-color: white;
  width: 80%;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  align-items: center;
  transform: translate(-50%, -50px);
  opacity: 0;
  z-index: -1;
}

.down-box {
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 10;
}
.overlay-2 {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  transition: all 0.5s ease-in-out;
  width: 100vw;
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.down {
  opacity: 1;
  z-index: 4;
}
.left-slider-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.4;
}
.left-slider-box img {
  max-width: 100%;
  width: 70%;
  object-fit: contain;
}
.right-slider-box {
  flex: 0.6;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.slide-box-mid img {
  cursor: pointer;
}
.rarity-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.rarity-box {
  font-size: 2rem;
  padding: 7px 20px;
  font-weight: bold;
  border-radius: 20px;
}
.bio-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.bio-div h1 {
  color: #c0c0c0;
  font-size: 2.5rem;
}
.desc-bio {
  width: 80%;
  border: 1px solid #c0c0c0;
  padding: 2rem;
  font-size: 1.7rem;
  border-radius: 20px;
  line-height: 1.7;
  color: black;
}
.owners-div {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.owners-div img {
  max-width: 15%;
  object-fit: contain;
}
.owners-div p {
  text-align: center;
  color: #c0c0c0;
  font-weight: bold;
  font-size: 2rem;
}
.slide-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  border-radius: 25px;
  gap: 20px;
  padding: 1.5rem 2rem;
  margin: 1rem 0rem;
}
.slide-box-top {
  width: 100%;
}
.slide-box-top img {
  max-width: 100%;
  object-fit: contain;
  width: 100%;
}
.slide-box-mid,
.slide-box-last {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.slide-box-mid h2 {
  color: inherit;
}
.yellow {
  color: #d1c302;
  background-color: #fff8e5;
  box-shadow: 6px 0px 20px 5px #eff7c5;
}
.blue {
  background-color: #e1ffff;
  color: #34aff4;
  box-shadow: 6px 0px 20px 5px #bdfbff;
}
.purple {
  background-color: #f3ebff;
  color: #8157cb;
  box-shadow: 6px 0px 20px 5px #eedbfa;
}
.green {
  background-color: #c3e8e1;
  color: #53cf96;
  box-shadow: 6px 0px 20px 5px #a7ecd4;
}
.yellow .rarity {
  background-color: #feedb4;
  border-radius: 25px;
  padding: 10px 15px;
}
.blue .rarity {
  background-color: #bceaf8;
  border-radius: 25px;
  padding: 10px 15px;
}
.green .rarity {
  background-color: #feedb4;
  border-radius: 25px;
  padding: 10px 15px;
}
.purple .rarity {
  background-color: #f4c4e3;
  border-radius: 25px;
  padding: 10px 15px;
}
.rarity {
  color: inherit;
}
.splide__arrow {
  top: 100% !important;
  width: 6em !important;
  height: 6em !important;
  background-color: white !important;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  border-radius: 50% !important;
}
.splide__arrow svg {
  font-size: 22px !important;
}
.splide__arrow--prev {
  left: 1em !important;
}
.splide__arrow--next {
  right: 1em !important;
}
.splide__slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .splide {
  height: 55vh !important;
} */
.slider button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  background-color: #00c8f7;
  border-radius: 27px;
  box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.4);
  padding: 5px 20px;
  cursor: pointer;
}
@media screen and (max-width: 1643px) {
  .splide__arrow--prev {
    left: 1em !important;
  }
  .splide__arrow--next {
    right: 1em !important;
  }
}
@media screen and (max-width: 1160px) {
  .open-box-slider {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .close-box {
    top: 4%;
  }
  .overlay {
    top: -10%;
    height: 120vh;
  }
  .left-slider-box img {
    width: 100%;
  }
  .right-slider-box,
  .left-slider-box {
    flex: 0.5;
  }
  .right-slider-box,
  .bio-div {
    align-items: center;
    text-align: center;
  }
  .owners-div {
    margin: 0;
    align-self: center;
  }
}
@media screen and (max-width: 1000px) {
  .splide__arrow {
    top: 80% !important;
  }
}
@media screen and (max-width: 652px) {
  .splide__arrow {
    width: 4em !important;
    height: 4em !important;
    top: 90% !important;
  }
}
@media screen and (max-width: 500px) {
  .close-box {
    top: 1%;
  }
  .open-box-slider {
    width: 95%;
  }
  .desc-bio {
    width: 90%;
  }
}
